body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 24px 0;
}

#board {
  height: 20vh;
  text-align: center;
  background-color: #eed70b;
}

#table {
  height: 80vh;
  background-color: #af8b55;
  display: flex;
}

#shells-container {
  width: 720px;
  margin: auto;
  position: relative;
}

#ball {
  position: absolute;
}

#notifications {
  font-style: italic;
}