body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 24px 0;
}

#board {
  height: 20vh;
  text-align: center;
  background-color: #eed70b;
}

#table {
  height: 80vh;
  background-color: #af8b55;
  display: flex;
}

#shells-container {
  width: 720px;
  margin: auto;
  display: flex;
}

.shell {
  position: relative;
}

#ball {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
}

#notifications {
  padding-top: 36px;
  font-style: italic;
}