body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 24px 0;
}

#board {
  height: 20vh;
  text-align: center;
  background-color: #eed70b;
}

#table {
  height: 80vh;
  background-color: #af8b55;
  display: flex;
}

#shells-container {
  width: 720px;
  margin: auto;
  display: flex;
}

.shell {
  position: relative;
}

.shell-image {
  position: relative;
  z-index: 1;
}

#ball {
  position: absolute;
  left: 50%;
  top: -160px;
  margin-left: -40px;
  margin-top: -40px;
}

#notifications {
  padding-top: 36px;
  font-style: italic;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 240px, 0);
    transform: translate3d(0, 240px, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 240px, 0);
    transform: translate3d(0, 240px, 0);
  }
}